<script type="text/ng-template" id="tag-list-screen.html">
    <div screen style="background: #f7f7f7">

        <div class="container" style="min-height: 90vh;">

            <div ng-hide="getTerms()">Loading Tags...</div>

            <div ng-show="getTerms()">
                Order By:
                <select name="" id="" ng-model="term" ng-init="term = 'name'">
                    <option value="name">Name</option>
                    <option value="slug">Slug</option>
                    <option value="-count">Count</option>
                </select>

                <hr>
            </div>


            <div ng-repeat="term in getTerms() | orderBy:term">

                <div class="row">
                    <!--<div class="col-sm-3">-->
                    <!--ID: <strong>{{term.ID}}</strong>-->
                    <!--</div>-->
                    <div class="col-sm-4">
                        Name: <strong>{{term.name}}</strong>
                    </div>
                    <div class="col-sm-4">
                        Slug: <strong>{{term.slug}}</strong>
                    </div>
                    <div class="col-sm-4">
                        Count: <strong>{{term.count}}</strong>
                    </div>
                </div>

            </div>

        </div>

        <foot-item></foot-item>
    </div>
</script>