<script type="text/ng-template" id="home-screen.html">
    <div screen style="background: #f7f7f7">

        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-xs-12">
                </div>
                <div class="col-md-8 col-xs-12">
                    <hero-item
                            ng-if="getContent()"
                            id="{{getArticle(0).ID}}"
                            height="350"
                    ></hero-item>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <article-preview-item
                                    ng-if="getContent()"
                                    id="getArticle(1).ID"
                            ></article-preview-item>

                            <article-preview-item
                                    ng-if="getContent()"
                                    id="getArticle(2).ID"
                            ></article-preview-item>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <hero-item
                                    ng-if="getContent()"
                                    id="{{getArticle(3).ID}}"
                                    height="132"
                            ></hero-item>
                        </div>
                        <div class="col-xs-12">
                            <hero-item
                                    ng-if="getContent()"
                                    id="{{getArticle(4).ID}}"
                                    height="361"
                            ></hero-item>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <latest-item
                            heading="'Latest Articles'"
                            amount="10"
                    ></latest-item>
                </div>

                <div class="col-xs-12">

                    <div class="box subscribe">
                        <p>Stay updated with every article</p>

                        <div class="row">
                            <div class="col-xs-7 col-sm-8">
                                <input type="text" placeholder="Email Address">
                            </div>
                            <div class="col-xs-5 col-sm-4">
                                <div class="butn" ng-click="subscribe()">Subscribe</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="section-title">#labour</div>
                </div>


                <div class="col-sm-4 col-xs-12"
                     ng-repeat="article in getTags() track by $index"
                     ng-if="$index < 3"
                >
                    <hero-item
                            id="{{article.id}}"
                            height="150"
                    ></hero-item>
                </div>

                <div class="col-xs-12">

                </div>

                <div class="col-sm-6 col-md-6 col-xs-12" ng-if="getInternational()">
                    <group-item
                            heading="'World'"
                            ids="getIds(getInternational(), 3)"
                            horizontal="false"
                    ></group-item>
                </div>
                <div class="col-sm-6 col-md-6 col-xs-12" ng-if="getPolitics()">
                    <group-item
                            heading="'Politics'"
                            ids="getIds(getPolitics(), 3)"
                            horizontal="false"
                    ></group-item>
                </div>
            </div>

        </div>

        <foot-item></foot-item>
    </div>
</script>