<script type="text/ng-template" id="header.html">
    <div template="header">
        <div class="header" ng-class="{active:isMenuVisible()}">
            <div class="helper-bar">
                <div class="container">
                    <span ui-sref="authors({page:1})" style="cursor: pointer">Our Writers</span> |
                    About | Writers' Guidelines | Join | Updates
                </div>
            </div>

            <div class="top-bar">
                <div class="container" style="position: relative">
                    <div class="logo" ui-sref="home"></div>
                    <div class="logo-text" ui-sref="home">The Platform</div>

                    <!--<div class="silent-bar">-->
                        <!--<i class="fa fa-search"></i>-->
                        <!--&nbsp; Search-->
                    <!--</div>-->

                    <!--<div class="social hidden-xs">-->
                        <!--<i class="fa fa-twitter"></i>-->
                        <!--<i class="fa fa-facebook"></i>-->
                        <!--<i class="fa fa-envelope"></i>-->
                    <!--</div>-->
                </div>

            </div>

            <div class="bottom-bar">
                <div class="container" style="position: relative">

                    <div class="item active item-search" ng-click="showSearch()">
                        <i class="fa fa-search"></i>
                        <span class="hidden-xs">&nbsp; Search</span>
                    </div>

                    <div class="menu-items">
                        <div class="item active" ui-sref="home"><i class="fa fa-home"></i></div>
                        <!--<div class="item" ui-sref="topic({cat:'features'})">Features</div>-->
                        <div class="item" ui-sref="topic({cat:'politics-and-society'})">Politics & Society</div>
                        <div class="item" ui-sref="topic({cat:'spirituality'})">Spirituality</div>
                        <div class="item" ui-sref="topic({cat:'world-universal-values'})">World</div>
                        <div class="item" ui-sref="topic({cat:'culture'})">Culture</div>
                        <!--<div class="item" ui-sref="topic({cat:'updates'})">Platform Updates</div>-->
                        <!--<div class="item">Writers' Guidelines</div>-->
                        <!--<div class="item">About</div>-->
                    </div>
                </div>
            </div>

        </div>
    </div>
</script>