<script type="text/ng-template" id="header.html">
    <div template="header">
        <div class="header active">
            <div class="helper-bar">
                <div class="container"></div>
            </div>

            <div class="top-bar">
                <div class="logo"></div>
                <div class="logo-text">The Platform</div>

                <div class="social">
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-envelope"></i>
                </div>
            </div>

            <div class="bottom-bar">
                <div class="container">
                    <div class="menu-items">
                        <div class="item active" ui-sref="home"><i class="fa fa-home"></i></div>
                        <div class="item">Features</div>
                        <div class="item">Politics</div>
                        <div class="item">Religion</div>
                        <div class="item">International</div>
                        <div class="item">Culture</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</script>