[template=group] {

  .group {

    h3, h2 {
      color: black;
    }

    .group-preview {
      flex: 1;
      text-decoration: none;
      display: block;
      //margin-bottom: 20px;
      border-bottom:1px solid #eee;
      margin-bottom: -1px;
      //padding-bottom: 20px;
      cursor: pointer;
      transform:translateX(0px);
      transition: .2s;
      cursor: pointer;

      @media (max-width: 767px) {
        //margin-bottom: 10px;
        //padding-bottom: 10px;
      }

      h3, h2 {
        padding: 0;
        margin: 0;
        color: black;

        font-weight: 400;
        padding-bottom: 5px;
      }

      .author-name {
        font-weight: bold;
        color: $primary;
        cursor: pointer;
        font-size: 11px;
        height: 20px;
      }

      &:hover {
        transform:translateX(5px);

        h3 {
          color: $red;
        }
      }

      &:last-child {
        margin-bottom: 0px;
        border-bottom:none;
        padding-bottom: 0px;

      }

      h3 {
        padding: 0;
        margin: 0;
        padding-bottom: 5px;
      }

      .preview-image {
        flex: 0 0 150px;
        min-height: 110px;
        //margin:-20px 0px -20px -20px;
        background: #f7f7f7;
        background-position: center;
        background-size: cover;
        //margin-bottom: 10px;
        position: relative;
        //margin-right: 20px;

        @media (max-width: 767px) {
          //margin-right: 10px;
        }
      }

      .preview-content {
        display: flex;
        flex-direction: column;
        padding: 15px;
        text-align: left;
        justify-content: center;

        @media (max-width: 767px) {
          padding: 10px;
        }
      }

    }
  }
}