<script type="text/ng-template" id="group.html">
    <div template="group" ids="{{ids}}">
        <div class="group fi">
            <div class="box large">
                <h2 class="box-header" ng-if="heading()" ng-bind="heading()"></h2>

                <div ng-if="!horizontal()">
                    <div class="group-preview" ng-repeat="article in getArticles()">

                        <!--<a class="box" ng-if="getContent()" ng-href="/{{getDate('YYYY')}}/{{getDate('MM')}}/{{getDate('DD')}}/{{getContent().slug}}/">-->
                        <a class="row" ng-href="{{getDateString(article)}}">
                        <!--<div class="row" ui-sref="article({id:article.ID, slug:article.slug})">-->
                            <div ng-if="$root.getImage(article)">
                                <div class="col-xs-4">
                                    <div class="preview-image" style="background-image: url('{{$root.getImage(article)}}')">

                                        <span class="when-posted">{{$root.getWhen(article)}}</span>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div>
                                        <div class="tag" ng-bind-html="$root.html(article.terms.category[0].name)"></div>
                                        <h3 ng-bind-html="$root.getTitle(article)"></h3>
                                        <p ng-show="article"
                                           ui-sref="author({'author_id':$root.getAuthor(article).id, 'authorSlug':$root.getAuthor(article).slug})"
                                           class="author-name">{{$root.getAuthor(article).name}}</p>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="!$root.getImage(article)">
                                <div class="col-xs-12">
                                    <div>
                                        <div class="tag" ng-bind-html="$root.html(article.terms.category[0].name)"></div>
                                        <h3 ng-bind-html="$root.getTitle(article)"></h3>
                                        <p ng-show="article"
                                           ui-sref="author({'author_id':$root.getAuthor(article).id, 'authorSlug':$root.getAuthor(article).slug})"
                                           class="author-name"
                                        >{{$root.getAuthor(article).name}}</p>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                </div>

                <div ng-if="horizontal()">
                    <div class="group-preview">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4" ng-repeat="article in getArticles()">
                                <a ng-if="$root.getImage(article)" ng-href="{{getDateString(article)}}">
                                    <div class="col-xs-4">
                                        <div class="preview-image" style="background-image: url('{{$root.getImage(article)}}')">

                                            <span class="when-posted">{{$root.getWhen(article)}}</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-8">
                                        <div>
                                            <div class="tag" ng-bind-html="$root.html(article.terms.category[0].name)"></div>
                                            <h3 ng-bind-html="$root.getTitle(article)"></h3>
                                        </div>
                                    </div>
                                </a>
                                <a ng-if="!$root.getImage(article)">
                                    <div class="col-xs-12">
                                        <div>
                                            <div class="tag" ng-bind-html="$root.html(article.terms.category[0].name)"></div>
                                            <h3 ng-bind-html="$root.getTitle(article)"></h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</script>