<script type="text/ng-template" id="group.html">
    <div template="group" ids="{{ids}}">
        <div class="group fi">
            <div class="box large">
                <h2 class="box-header" ng-if="heading()" ng-bind="heading()"></h2>


                <div class="box-content">
                    <flex-item row="horizontal()">
                        <a class="group-preview" ng-repeat="article in getArticles()" ng-href="{{getDateString(article)}}">

                            <flex-item row="!horizontal()">
                                <div class="preview-image" style="background-image: url('{{$root.getImage(article)}}')">

                                    <span class="when-posted">{{$root.getWhen(article)}}</span>
                                </div>
                                <div class="preview-content">
                                    <div class="tag">{{article.terms.category[0].name}}</div>
                                    <h3>{{$root.getTitle(article)}}</h3>
                                    <p ng-show="article"
                                       ui-sref="author({'author_id':$root.getAuthor(article).id, 'authorSlug':$root.getAuthor(article).slug})"
                                       class="author-name">{{$root.getAuthor(article).name}}</p>
                                </div>
                            </flex-item>
                        </a>
                    </flex-item>

                </div>


            </div>
        </div>

    </div>
</script>