<script type="text/ng-template" id="article-screen.html">
    <div screen>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!--<div style="height: 10px"></div>-->

                    <!--<div class="tag">Culture</div>-->
                    <h1 ng-bind-html="$root.html(getContent().title)"></h1>

                    <div style="height: 10px"></div>
                    <p class="article-content" style="line-height: 1.4;margin-bottom: 0">
                        <small>
                            <span class="pull-right" style="margin-left: 40px"  ng-show="getContent().featured_image.source">
                                Image: <a href="http://www.ew.com/article/2015/09/01/london-film-festival-2015-lineup">EW.com</a>
                            </span>

                            <a ng-href="/tag/{{tag.slug}}" ng-repeat="tag in getContent().terms.post_tag"> #{{tag.slug}} </a>
                            &nbsp;
                        </small>
                    </p>

                    <div class="hero-image" ng-show="getContent().featured_image.source" style="background-image: url('{{getContent().featured_image.source}}');height:500px">
                        <div class="tag">Culture</div>
                    </div>

                    <!--<div class="hero-image" style="background-image: url('{{getImage()}}');height:500px">-->
                        <!--<div class="tag">Culture</div>-->
                    <!--</div>-->

                    <div style="height: 10px"></div>

                </div>
                <div class="col-sm-8">
                    <div class="article-content">


                        <p><strong ng-bind-html="$root.html(getContent().acf.summary)"></strong></p>

                        <div ng-bind-html="$root.html(getContent().content)"></div>
                    </div>


                </div>
                <div class="col-sm-4">
                    <div class="section-title start">
                        About The Author
                    </div>

                    <div class="box">
                        <h2><a ng-bind-html="$root.html(getContent().author.name)"></a></h2>
                        <hr ng-if="getContent().author.description">
                        <p ng-if="getContent().author.description" ng-bind-html="$root.html(getContent().author.description)"></p>
                    </div>
                    <div class="clearfix"></div>

                    <div class="section-title">Featured Posts</div>
                    <hero-item
                            ng-if="getFeaturedArticle(0)"
                            id="getFeaturedArticle(0).ID"
                            height="150"
                    ></hero-item>
                    <article-preview-item
                            ng-repeat="article in getFeatured() track by $index"
                            ng-if="$index != 0 && $index < 3"
                            id="getFeaturedArticle($index).ID"
                            height="150"
                    ></article-preview-item>

                    <hr>

                    <group-item
                            heading="'Related Posts'"
                            ng-if="getRelatedIds()"
                            ids="getRelatedIds()"
                    ></group-item>

                    <div class="section-title">Related Posts</div>

                    <article-preview-item
                            ng-repeat="article in getRelated() track by $index"
                            ng-if="$index < 3"
                            id="article.ID"
                    ></article-preview-item>
                </div>

                <div class="col-sm-12">
                    <div class="section-title">You Might Also Like</div>
                </div>
                <div class="col-sm-4"
                     ng-repeat="article in getRelated() track by $index"
                     ng-if="$index < 3"
                >
                    <hero-item
                            id="article.ID"
                            height="250"
                    ></hero-item>
                </div>


                <div class="col-sm-12">
                    <div class="section-title">#paris</div>
                </div>
                <div class="col-sm-4"
                     ng-repeat="article in getTags() track by $index"
                     ng-if="$index < 3"
                >
                    <hero-item
                            id="article.ID"
                            height="250"
                    ></hero-item>
                </div>
            </div>

        </div>
    </div>
</script>