[template=article-preview] {
  cursor: pointer;

  .article-preview-image {
    height: 130px;
    background: #f7f7f7;
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
    position: relative;
    margin: -20px 0px -20px -20px;

    @media (max-width: 767px) {
      margin: -10px 0px -10px -10px;
    }

    .tag {
      height: 30px;
      background: white;
      background: rgba(255,255,255,0.9);
      position: absolute;
      line-height: 30px;
      bottom: 0;
      left: 0;
      padding: 0 20px;
      margin: 0;
      color: $body;
      font-weight: 700;
    }
  }

  h3 {
    padding-bottom: 0;
  }
}