<script type="text/ng-template" id="article-preview.html">
    <div template="article-preview" scope-id="{{id()}}">
        <div class="article-preview fi">
            <a class="box" ng-if="getContent()" ng-href="/{{getDate('YYYY')}}/{{getDate('MM')}}/{{getDate('DD')}}/{{getContent().slug}}/">
                <span class="box-content">
                    <flex-item row="true">
                        <div class="article-preview-image" style="background-image: url('{{$root.getImage(getContent())}}')">
                            <span class="when-posted">{{$root.getWhen(getContent())}}</span>
                        </div>
                        <div class="preview-content">
                            <div class="tag">{{getContent().terms.category[0].name}}</div>
                            <h3>{{$root.getTitle(getContent())}}</h3>
                            <p ng-show="getContent()"
                               ui-sref="author({'author_id':$root.getAuthor(getContent()).id, 'authorSlug':$root.getAuthor(getContent()).slug})"
                               class="author-name">{{$root.getAuthor(getContent()).name}}</p>
                        </div>
                    </flex-item>
                </span>
            </a>
        </div>

    </div>
</script>