<script type="text/ng-template" id="article-preview.html">
    <div template="article-preview" scope-id="{{id()}}">
        <div class="article-preview fi">
            <a class="box" ng-if="getContent()" ng-href="/{{getDate('YYYY')}}/{{getDate('MM')}}/{{getDate('DD')}}/{{getContent().slug}}/">
                <div class="row">
                    <!--<div ng-if="$root.getImage(getContent())">-->
                        <div class="col-xs-5">
                            <div class="article-preview-image" style="background-image: url('{{$root.getImage(getContent())}}')"></div>
                        </div>
                        <div class="col-xs-7">
                            <div>
                                <div class="tag" ng-bind-html="$root.html(getContent().terms.category[0].name)"></div>
                                <h3 ng-show="getContent()" ng-bind-html="$root.getTitle(getContent())"></h3>

                                <h3 ng-show="!getContent()" class="blokk" style="color: #333">
                                    Lorem ipsum er e bid!
                                </h3>
                            </div>
                        </div>
                    <!--</div>-->
                    <!--<div ng-if="!$root.getImage(getContent())">-->
                        <!--<div class="col-xs-12">-->
                            <!--<div>-->
                                <!--<div class="tag" ng-bind-html="$root.html(getContent().terms.category[0].name)"></div>-->
                                <!--<h3 ng-bind-html="$root.getTitle(getContent())"></h3>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                </div>

                <!--<p>New film by Sarah Gavron is deeply moving but gender inequality remains rife in a multitude of modern societies</p>-->

            </a>
        </div>

    </div>
</script>