<script type="text/ng-template" id="topic-screen.html">
    <div screen style="background: #f7f7f7">

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <hero-item
                            ng-if="getContent()"
                            id="getArticle(0).ID"
                            height="350"
                    ></hero-item>
                </div>
                <div class="col-xs-12">
                    <div class="row">

                        <div class="col-md-4 col-sm-7">
                            <hero-item
                                    ng-repeat="article in getContentHalf(0) track by $index"
                                    id="article.ID"
                                    height="200"
                            ></hero-item>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <hero-item
                                    ng-repeat="article in getContentHalf(1) track by $index"
                                    id="article.ID"
                                    height="200"
                            ></hero-item>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <hero-item
                                    ng-repeat="article in getContentHalf(2) track by $index"
                                    id="article.ID"
                                    height="200"
                            ></hero-item>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <latest-item
                            heading="'Latest Articles'"
                            amount="5"
                    ></latest-item>
                </div>
                <div class="col-sm-12"></div>
                <div class="col-sm-3">
                    <article-preview-item></article-preview-item>
                </div>
                <div class="col-sm-3">
                    <article-preview-item></article-preview-item>
                </div>
                <div class="col-sm-3">
                    <article-preview-item></article-preview-item>
                </div>
                <div class="col-sm-3">
                    <article-preview-item></article-preview-item>
                </div>
                <div class="col-sm-6">
                    <latest-item
                            heading="'Culture'"
                    ></latest-item>
                </div>
                <div class="col-sm-6">
                    <latest-item
                            heading="'Politics'"
                    ></latest-item>
                </div>
            </div>

        </div>

        <foot-item></foot-item>
    </div>
</script>