<script type="text/ng-template" id="latest.html">
    <div template="latest">
        <div class="latest fi">
            <div class="box large">

                <h2 class="box-header">{{heading()}}</h2>

                <div>
                    <div class="latest-preview" ng-repeat="article in getArticles()">
                        <a class="row" ng-href="{{getDateString(article)}}">
                            <div class="col-xs-4">
                                <div class="preview-image" style="background-image: url('{{$root.getImage(article)}}')"></div>
                            </div>
                            <div class="col-xs-8">
                                <div>
                                    <div class="tag">{{article.terms.category[0].name}}</div>
                                    <h3>{{$root.getTitle(article)}}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>


            </div>
        </div>

    </div>
</script>