<script type="text/ng-template" id="latest.html">
    <div template="latest">
        <div class="box large">

            <h2 class="box-header">{{heading}}</h2>

            <latest-preview-item></latest-preview-item>
            <latest-preview-item></latest-preview-item>
            <latest-preview-item></latest-preview-item>
            <latest-preview-item></latest-preview-item>
            <latest-preview-item></latest-preview-item>
            <!--<latest-preview-item></latest-preview-item>-->

        </div>
    </div>
</script>