<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <base href="/">

    <!--<title><%= title %></title>-->
    <title></title>
    <meta name="description" content="<%= ogDescription %>" />

    <meta property="og:title" content="<%= ogTitle %>" />
    <meta property="og:site_name" content="<%= ogSiteName %>"/>
    <meta property="og:url" content="<%= ogUrl %>" />
    <meta property="og:description" content="<%= ogDescription %>" />
    <meta property="og:image" content="<%= ogImage %>" />
    <meta property="og:type" content="<%= ogType %>"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Jamahiel">
    <meta name="twitter:title" content="<%= ogTitle %>">
    <meta name="twitter:description" content="<%= ogDescription %>">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--<link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100&subset=latin,latin-ext' rel='stylesheet' type='text/css'>-->
    <link href='https://fonts.googleapis.com/css?family=Catamaran:400,100,200,300,500,600,700,800,900|Alegreya+Sans:400,100,100italic,300,300italic,400italic,500,900italic,900,800italic,800,700,500italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,700,400italic,300italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/public/lib.css"/>
    <link rel="stylesheet" href="/public/app.css"/>
</head>
<body data-ng-app="app">

<alert></alert>

<div ui-view></div>

<header-item></header-item>