body {
  background: #f7f7f7;
  color: #333;
  font-family: "Raleway", sans-serif;
  font-family: 'Alegreya Sans', sans-serif;
  font-family: 'Catamaran', sans-serif;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-smooth: always;
  -webkit-overflow-scrolling: touch;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;
  max-width: 100%;
  font-size: 12px; }
  @media (max-width: 767px) {
    body {
      font-size: 14px; } }

input, select, textarea {
  font-family: 'Catamaran', sans-serif;
  font-family: 'Merriweather', serif;
  font-size: 14px;
  font-weight: 300;
  min-width: 150px; }
  input.block, select.block, textarea.block {
    width: 100%; }

* {
  outline: none; }

a {
  color: #b40305; }

hr {
  margin: 30px 0;
  padding: 0;
  height: 3px;
  background: #eee;
  border: none; }

.article-header {
  margin: 20px;
  margin: 10px 10px 20px; }
  @media (max-width: 768px) {
    .article-header {
      margin: 10px;
      font-size: 20px; } }

.box {
  display: block;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: .4s;
  margin-bottom: 20px;
  will-change: transform;
  color: inherit; }
  .box:active {
    text-decoration: none;
    color: inherit; }
  @media (max-width: 767px) {
    .box {
      padding: 10px;
      margin-bottom: 10px; } }
  .box h2, .box h3 {
    transition: .3s; }
  .box .box-header {
    border-bottom: 1px solid #eee;
    margin: -20px -20px 20px;
    padding: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    @media (max-width: 767px) {
      .box .box-header {
        margin: -10px -10px 10px;
        padding: 10px; } }
  .box:active {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px); }
    .box:active.large {
      -webkit-transform: translateY(0px);
              transform: translateY(0px); }
    .box:active h2, .box:active h3 {
      color: #b40305; }
  .box.nohover:active {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }

.tag {
  font-size: 14px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #1b65ae;
  color: #333;
  font-weight: 700;
  font-size: 10px; }

.blokk {
  font-family: 'BLOKKNeue-Regular'; }

pre {
  padding: 0;
  background: none;
  border: none;
  border-radius: 0; }

h1, h2, h3, p {
  margin: 0;
  padding: 0 0 5px;
  line-height: 1.3;
  font-weight: 700; }

strong {
  font-weight: 600; }

h1 {
  padding-bottom: 20px; }

h1, h2 {
  color: #333;
  font-weight: 100; }
  h1 .fa, h2 .fa {
    font-size: 70%;
    opacity: 0.6; }

h2, h3 {
  font-size: 16px;
  font-weight: 700;
  color: #333; }

h3 {
  font-size: 18px;
  font-size: 13px; }

@media (max-width: 767px) {
  h1 {
    font-size: 25px; } }

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  font-size: 12px;
  line-height: 1.6; }
  .article-content p, p.article-content {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 15px;
    color: #333;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    margin-bottom: 30px;
    font-weight: 300; }
    .article-content p em, .article-content p strong, .article-content p a, p.article-content em, p.article-content strong, p.article-content a {
      letter-spacing: 0.5px;
      font-weight: bold;
      color: #999; }
    .article-content p a, p.article-content a {
      color: #b40305; }

.article-content img {
  max-width: 100%;
  height: auto; }

.article-content .start {
  font-weight: bold;
  background: #f7f7f7;
  padding: 0 20px;
  /* box-shadow: 0 0 5px rgba(0,0,0,0.15); */
  border: 1px solid #ddd; }

.fa {
  line-height: inherit; }

.fa-refresh {
  position: absolute; }

.in {
  line-height: 40px;
  height: 40px;
  border-radius: 4px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
  width: 200px;
  border: none;
  padding: 0 20px;
  outline: none;
  border-left: 5px solid #97bc41; }

input, select, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  line-height: 40px;
  height: 40px;
  padding: 0 15px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.04);
  border: none; }

textarea {
  line-height: 1.4;
  height: 200px;
  width: 100%;
  padding: 15px; }

[screen] {
  padding: 20px 0 0;
  padding-top: 163px;
  opacity: 0;
  transition: 0.3s;
  display: block;
  will-change: opacity;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100vh;
  max-width: 100%;
  -webkit-overflow-scrolling: touch; }
  [screen].active {
    opacity: 1; }
  @media (max-width: 767px) {
    [screen] {
      font-size: 14px;
      padding: 10px 0 0;
      padding-top: 110px; } }

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.row {
  margin-right: -10px;
  margin-left: -10px;
  display: block; }

.section-title {
  border-top: #eee 3px solid;
  padding: 20px 0 20px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #333; }
  @media (max-width: 767px) {
    .section-title {
      padding: 10px 0 10px;
      margin-top: 10px; } }
  .section-title.start {
    border-top: none;
    margin-top: 0;
    padding-top: 0; }

.subscribe {
  font-size: 14px;
  color: #333; }
  .subscribe p {
    font-size: 14px;
    padding-bottom: 10px;
    font-weight: 700; }
  .subscribe input {
    background: #f7f7f7;
    width: 100%;
    border-radius: 0; }

.butn {
  background: #b40305;
  line-height: 40px;
  height: 40px;
  color: white;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  transition: .3s;
  padding: 0 20px; }
  .butn:active {
    background: #cd0306; }

.hero-image {
  height: 300px;
  background: #f7f7f7;
  background-position: center;
  background-size: cover;
  margin: -20px -20px 20px;
  position: relative;
  overflow: hidden; }
  .hero-image .image-holder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
    opacity: 0;
    transition: opacity 1s; }
    .hero-image .image-holder.active {
      opacity: 1; }
  .hero-image .image-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover; }
  @media (max-width: 767px) {
    .hero-image {
      margin: -10px -10px 10px; } }
  .article-screen .hero-image {
    height: 400px; }
    @media (max-width: 767px) {
      .article-screen .hero-image {
        height: 150px; } }
  @media (max-width: 767px) {
    .hero-image {
      height: 150px; } }
  .hero-image .tag {
    height: 30px;
    background: white;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    line-height: 30px;
    bottom: 0;
    left: 0;
    padding: 0 15px;
    margin: 0;
    color: #333;
    font-weight: 700; }

.article-social .fa {
  margin-left: 10px;
  font-size: 20px; }

.article-social .fa-twitter {
  color: #55acee; }

.article-social .fa-facebook {
  color: #3b5998; }

.article-social .fa-facebook {
  color: #3b5998; }

alert-item {
  position: relative;
  z-index: 5000;
  display: block; }
  alert-item .alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
    margin: 0;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    border-radius: 0; }
    alert-item .alert .alert-box {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-content: center;
          -ms-flex-line-pack: center;
              align-content: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: relative;
      width: 300px;
      border-radius: 3px;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      cursor: pointer;
      text-align: center;
      background: white;
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      transition: .5s; }
      alert-item .alert .alert-box .box-icon {
        height: 60px;
        width: 60px;
        border: 3px solid white;
        line-height: 54px;
        background: #b40305;
        color: white;
        margin-top: -30px;
        border-radius: 100%;
        font-size: 30px; }
      alert-item .alert .alert-box .box-header {
        display: block;
        -webkit-flex: 0 0 40px;
            -ms-flex: 0 0 40px;
                flex: 0 0 40px;
        color: #b40305;
        padding: 0 15px;
        line-height: 40px;
        height: 40px;
        border-radius: 3px 3px 0 0;
        font-weight: 100;
        font-size: 30px; }
      alert-item .alert .alert-box .box-content {
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
        width: calc(100% - 60px);
        padding: 0px 0 30px;
        border-radius: 0 0 3px 3px;
        color: #333;
        margin: 15px 0 -15px; }
      alert-item .alert .alert-box .butn {
        margin: 25px 0 0px;
        width: 100%; }
    alert-item .alert.active {
      opacity: 1;
      visibility: visible;
      z-index: 6000; }
      alert-item .alert.active .alert-box {
        -webkit-transform: translateY(0);
                transform: translateY(0); }

[template=article-preview] {
  cursor: pointer; }
  [template=article-preview] .article-preview-image {
    height: 130px;
    background: #f7f7f7;
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
    position: relative;
    margin: -20px 0px -20px -20px; }
    @media (max-width: 767px) {
      [template=article-preview] .article-preview-image {
        margin: -10px 0px -10px -10px; } }
    [template=article-preview] .article-preview-image .tag {
      height: 30px;
      background: white;
      background: rgba(255, 255, 255, 0.9);
      position: absolute;
      line-height: 30px;
      bottom: 0;
      left: 0;
      padding: 0 20px;
      margin: 0;
      color: #333;
      font-weight: 700; }
  [template=article-preview] h3 {
    padding-bottom: 0; }

author-preview-item {
  -webkit-flex: 1 0 200px;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  margin: 0 10px; }
  author-preview-item .author-img {
    height: 60px;
    width: 60px;
    max-width: 60px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    margin-right: 15px !important; }
  author-preview-item .author-name {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px; }
    author-preview-item .author-name h2 {
      line-height: inherit;
      font-size: 14px; }
  author-preview-item .small .box {
    padding: 5px; }
  author-preview-item .small .author-img {
    height: 40px;
    width: 40px;
    max-width: 40px; }
  author-preview-item .small .author-desc {
    display: none; }
  author-preview-item .small .author-name {
    height: 40px; }
    author-preview-item .small .author-name h2 {
      font-size: 12px; }

[template=article-share] {
  background: rgba(0, 0, 0, 0.1);
  padding: 0 50px;
  margin-top: 20px; }
  [template=article-share] .share-title {
    padding: 20px 0 20px;
    font-size: 20px;
    font-weight: 700; }
    [template=article-share] .share-title .fa {
      -webkit-animation: pulse 1s infinite;
              animation: pulse 1s infinite; }
  [template=article-share] p {
    font-size: 15px;
    line-height: 32px;
    margin-bottom: 30px;
    font-weight: 300; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); } }

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); } }

flex-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }
  flex-item .flex {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    flex-item .flex.flex-wrap {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
    flex-item .flex.flex-row {
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; }
    flex-item .flex.flex-gap {
      margin-top: 15px; }
    flex-item .flex > div {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      margin-right: 1px;
      margin-top: 1px; }
    flex-item .flex .flex-label {
      line-height: 40px;
      line-height: 14px;
      background: white;
      color: #333;
      padding: 13px 15px;
      font-weight: 500;
      margin-right: 1px; }
    flex-item .flex .flex-img {
      -webkit-flex: 0 0 40px;
          -ms-flex: 0 0 40px;
              flex: 0 0 40px;
      line-height: 40px;
      width: 40px;
      background-size: cover;
      background-position: center;
      margin-right: 1px; }
    flex-item .flex .flex-content {
      line-height: 14px;
      background: white;
      padding: 13px 15px;
      font-weight: 500;
      margin-right: 1px;
      white-space: nowrap;
      display: block; }
      flex-item .flex .flex-content.strong {
        font-weight: bold; }
      flex-item .flex .flex-content.red {
        background: #b40305;
        color: white; }
      flex-item .flex .flex-content.yellow {
        background: #b40305;
        color: white; }
      flex-item .flex .flex-content.blue {
        background: #b40305;
        color: white; }
      flex-item .flex .flex-content.green {
        background: #b40305;
        color: white; }
      flex-item .flex .flex-content.black {
        background: #333;
        color: white; }
    flex-item .flex .flex-tag {
      -webkit-flex: 0 1 auto;
          -ms-flex: 0 1 auto;
              flex: 0 1 auto;
      line-height: 14px;
      background: rgba(51, 51, 51, 0.4);
      color: white;
      font-weight: 500;
      white-space: nowrap;
      padding: 13px 15px;
      margin-right: 5px;
      margin-bottom: 5px;
      cursor: pointer;
      transition: .3s; }
      flex-item .flex .flex-tag:hover {
        background: rgba(51, 51, 51, 0.6); }
      flex-item .flex .flex-tag.active {
        background: #333; }
      flex-item .flex .flex-tag:last-child {
        margin-right: 0; }
    flex-item .flex .flex-heading {
      line-height: 14px;
      background: #333;
      color: white;
      font-weight: 500;
      white-space: nowrap;
      padding: 13px 15px; }
    flex-item .flex .flex-butn {
      -webkit-flex: 0 1 auto;
          -ms-flex: 0 1 auto;
              flex: 0 1 auto;
      line-height: 14px;
      background: #333;
      padding: 13px 15px;
      color: white;
      font-weight: 500;
      margin-right: 1px;
      white-space: nowrap;
      cursor: pointer; }
      flex-item .flex .flex-butn.blue {
        background: #b40305;
        color: white; }
      flex-item .flex .flex-butn.green {
        background: #b40305;
        color: white; }
    flex-item .flex .flex-stat {
      -webkit-flex: 0 1 auto;
          -ms-flex: 0 1 auto;
              flex: 0 1 auto;
      line-height: 14px;
      background: #333;
      padding: 13px 15px;
      color: white;
      font-weight: 500;
      margin-right: 1px;
      border-right: #b40305 3px solid;
      white-space: nowrap;
      display: block; }
      flex-item .flex .flex-stat.strong {
        font-weight: bold; }
      flex-item .flex .flex-stat.dark {
        border-right: #1a1a1a 3px solid;
        background: #333;
        color: white; }
      flex-item .flex .flex-stat.white {
        border-right: solid #e6e6e6 3px;
        background: white;
        color: #333; }
      flex-item .flex .flex-stat.blue {
        border-right: #820204 3px solid;
        background: #b40305;
        color: white; }
      flex-item .flex .flex-stat.green {
        border-right: #820204 3px solid;
        background: #b40305;
        color: white; }
      flex-item .flex .flex-stat.yellow {
        border-right: #820204 3px solid;
        background: #b40305;
        color: white; }
      flex-item .flex .flex-stat.flush {
        border: none; }

[template=foot] .foot-top {
  background: #333;
  color: white;
  padding: 20px 0;
  text-align: center; }

[template=foot] .foot {
  background: #222;
  color: white;
  padding: 40px 0 20px; }
  [template=foot] .foot h2 {
    color: white;
    margin-bottom: 20px;
    font-size: 15px; }
  [template=foot] .foot p {
    font-size: 15px;
    line-height: 2; }
  [template=foot] .foot .foot-bottom {
    border-top: #333 3px solid;
    padding-top: 20px;
    margin-top: 20px; }
    [template=foot] .foot .foot-bottom .social i.fa {
      padding: 0 10px;
      font-size: 20px; }

[template=header] .header {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 100;
  overflow: hidden;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  transition: .3s; }
  [template=header] .header.active .bottom-bar, [template=header] .header:hover .bottom-bar {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  [template=header] .header .helper-bar {
    background: #a50305;
    color: white;
    font-weight: bold;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    transition: .3s;
    text-align: right; }
    @media (max-width: 767px) {
      [template=header] .header .helper-bar {
        height: 0; } }
  [template=header] .header .top-bar {
    background: #b40305;
    height: 70px;
    position: relative;
    z-index: 100;
    transition: .3s;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
    @media (max-width: 767px) {
      [template=header] .header .top-bar {
        height: 50px; } }
    [template=header] .header .top-bar .social {
      position: absolute;
      right: 15px;
      line-height: 70px;
      color: white; }
      [template=header] .header .top-bar .social i.fa {
        padding: 0 10px;
        font-size: 20px; }
    [template=header] .header .top-bar .silent-bar {
      background: #a50305;
      border-radius: 0 0 4px 4px;
      position: absolute;
      right: 15px;
      top: 0;
      height: 40px;
      text-align: center;
      line-height: 40px;
      padding: 0 10px;
      color: white;
      font-weight: 700; }
      @media (max-width: 767px) {
        [template=header] .header .top-bar .silent-bar {
          right: 15px; } }
      [template=header] .header .top-bar .silent-bar i.fa {
        font-size: 13px; }
  [template=header] .header .bottom-bar {
    background: white;
    height: 40px;
    background: #aa0305;
    transition: 0.3s;
    overflow: hidden;
    will-change: transform; }
    @media (max-width: 767px) {
      [template=header] .header .bottom-bar {
        height: 40px; } }
  [template=header] .header .logo {
    position: absolute;
    background: url("http://www.the-platform.org.uk/wp-content/themes/Nuke/images/logo_white.png");
    background-position: center left;
    background-size: cover;
    top: 5px;
    left: 5px;
    height: 60px;
    width: 60px;
    transition: .3s;
    cursor: pointer; }
    @media (max-width: 767px) {
      [template=header] .header .logo {
        height: 40px;
        width: 40px; } }
    [template=header] .header .logo:active {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); }
  [template=header] .header .logo-text {
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: 100;
    line-height: 70px;
    position: absolute;
    left: 80px;
    transition: .3s;
    cursor: pointer; }
    @media (max-width: 767px) {
      [template=header] .header .logo-text {
        left: 55px;
        height: 50px;
        line-height: 50px;
        font-size: 12px; } }
  [template=header] .header .menu-items {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    border-top: none;
    border-bottom: none;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    transition: .3s;
    overflow-x: scroll;
    overflow-y: hidden;
    background: #a00304;
    height: 100px;
    padding-right: 100px; }
    @media (max-width: 767px) {
      [template=header] .header .menu-items {
        padding-right: 40px; } }
  [template=header] .header .item {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    /* default value */
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    height: 100px;
    line-height: 26px;
    text-align: center;
    color: white;
    transition: .3s;
    font-weight: 600;
    border-top: none;
    border-bottom: none;
    padding: 8px 20px 7px;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
    white-space: nowrap; }
    @media (max-width: 767px) {
      [template=header] .header .item {
        font-size: 12px;
        padding: 8px 10px 7px; } }
    [template=header] .header .item.item-search {
      position: absolute;
      right: 15px;
      width: 100px;
      padding-right: 0;
      padding-left: 0;
      text-align: center;
      z-index: 10; }
      @media (max-width: 767px) {
        [template=header] .header .item.item-search {
          width: 40px; } }
    [template=header] .header .item .fa {
      font-size: 16px; }
    [template=header] .header .item:active {
      background: #c80306;
      color: white;
      cursor: pointer; }
    [template=header] .header .item.active {
      background: #b40305;
      color: white;
      background: white;
      color: #b40305; }

[template=group] .group h3, [template=group] .group h2 {
  color: black; }

[template=group] .group .group-preview {
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  cursor: pointer;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  transition: .2s;
  cursor: pointer; }
  @media (max-width: 767px) {
    [template=group] .group .group-preview {
      margin-bottom: 10px;
      padding-bottom: 10px; } }
  [template=group] .group .group-preview h3, [template=group] .group .group-preview h2 {
    padding: 0;
    margin: 0;
    color: black; }
  [template=group] .group .group-preview:hover {
    -webkit-transform: translateX(5px);
            transform: translateX(5px); }
    [template=group] .group .group-preview:hover h3 {
      color: #b40305; }
  [template=group] .group .group-preview:last-child {
    margin-bottom: 0px;
    border-bottom: none;
    padding-bottom: 0px; }
  [template=group] .group .group-preview h3 {
    padding: 0;
    margin: 0; }
  [template=group] .group .group-preview .preview-image {
    height: 110px;
    background: #f7f7f7;
    background-position: center;
    background-size: cover;
    position: relative;
    margin: -20px 0px -20px -20px; }
    @media (max-width: 767px) {
      [template=group] .group .group-preview .preview-image {
        margin: -10px 0px -10px -10px; } }

[template=hero] {
  cursor: pointer; }

[template=latest] .latest h3, [template=latest] .latest h2 {
  color: black; }

[template=latest] .latest .latest-preview {
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  cursor: pointer;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  transition: .2s;
  cursor: pointer; }
  @media (max-width: 767px) {
    [template=latest] .latest .latest-preview {
      margin-bottom: 10px;
      padding-bottom: 10px; } }
  [template=latest] .latest .latest-preview h3, [template=latest] .latest .latest-preview h2 {
    padding: 0;
    margin: 0;
    color: black; }
  [template=latest] .latest .latest-preview:hover {
    -webkit-transform: translateX(5px);
            transform: translateX(5px); }
    [template=latest] .latest .latest-preview:hover h3 {
      color: #b40305; }
  [template=latest] .latest .latest-preview:last-child {
    margin-bottom: 0px;
    border-bottom: none;
    padding-bottom: 0px; }
  [template=latest] .latest .latest-preview .preview-image {
    height: 110px;
    margin: -20px 0px -20px -20px;
    background: #f7f7f7;
    background-position: center;
    background-size: cover;
    position: relative; }
    @media (max-width: 767px) {
      [template=latest] .latest .latest-preview .preview-image {
        margin: -10px 0px -10px -10px; } }

[template=loading] .loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 1000;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-weight: 900;
  transition: 1s;
  visibility: hidden;
  pointer-events: none; }
  [template=loading] .loading .loading-text {
    transition: 0.4s;
    position: relative;
    top: -50px;
    opacity: 0; }
  [template=loading] .loading .loading-icon {
    transition: 0.3s;
    transition-delay: 1s;
    position: relative;
    top: 40px;
    opacity: 0;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #eee;
    border-bottom: 0;
    color: #b40305;
    line-height: 40px;
    height: 40px;
    width: 50px;
    text-align: center;
    border-radius: 3px 3px 0 0; }
    [template=loading] .loading .loading-icon .fa {
      height: 40px;
      line-height: 40px; }
  [template=loading] .loading.active {
    opacity: 1;
    transition: 0.4s;
    visibility: visible; }
    [template=loading] .loading.active .loading-text, [template=loading] .loading.active .loading-icon {
      transition-delay: 0s;
      top: 0px;
      opacity: 1; }

search-item {
  position: relative;
  z-index: 4000;
  display: block; }
  search-item .search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(180, 3, 5, 0.8);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
    margin: 0;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    border-radius: 0; }
    search-item .search .search-box {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      transition: .5s; }
    search-item .search input {
      height: 50px;
      background: rgba(255, 255, 255, 0.95);
      border: none;
      outline: none;
      width: 250px;
      border-radius: 0;
      font-weight: bold; }
    search-item .search .search-butn {
      height: 50px;
      line-height: 50px;
      width: 50px;
      text-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      background: rgba(0, 0, 0, 0.4);
      color: white;
      font-size: 30px;
      border: none;
      cursor: pointer; }
      search-item .search .search-butn:active {
        background: rgba(0, 0, 0, 0.7); }
    search-item .search.active {
      opacity: 1;
      visibility: visible; }
      search-item .search.active .search-box {
        -webkit-transform: translateY(0);
                transform: translateY(0); }

[template=share] {
  margin: 30px auto;
  text-align: center; }
  [template=share] .share-float {
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 50px;
    z-index: 10; }
    [template=share] .share-float .butn {
      border: none;
      transition: .3s;
      opacity: 0.8;
      display: block; }
      [template=share] .share-float .butn:hover {
        opacity: 1;
        color: white; }
    @media (max-width: 767px) {
      [template=share] .share-float {
        display: none;
        width: 100%; }
        [template=share] .share-float .butn {
          float: left;
          width: 25%; } }
  [template=share] .share {
    background: white;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    padding: 30px 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transition: .9s opacity;
    will-change: opacity; }
    [template=share] .share h2 {
      padding: 0 0 20px;
      font-size: 20px;
      font-weight: 700; }
    [template=share] .share h2 .fa {
      opacity: 1.1;
      -webkit-animation: pulse 1s infinite;
              animation: pulse 1s infinite; }
    [template=share] .share p {
      font-size: 15px;
      font-weight: 300;
      line-height: 32px; }
    [template=share] .share.active {
      opacity: 1; }
    [template=share] .share .share-content {
      margin-bottom: 30px; }
    [template=share] .share .share-buttons {
      font-size: 20px; }
      [template=share] .share .share-buttons .butn {
        font-size: 25px;
        border: none;
        line-height: 50px;
        height: 50px;
        display: block; }
        [template=share] .share .share-buttons .butn:hover {
          color: white; }

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); } }
