<script type="text/ng-template" id="hero.html">
    <div template="hero">
        <div class="hero fi">
            <div class="box red" ui-sref="article({id:id, slug:getContent().slug})">
                <div class="hero-image" style="background-image: url('{{getContent().featured_image.source}}');height:{{height}}px">
                    <div class="tag">{{getContent().terms.category[0].name}}</div>
                </div>

                <h2>{{getContent().title}}</h2>
                <p>{{getContent().acf.summary}}</p>

            </div>
        </div>

    </div>
</script>