<script type="text/ng-template" id="hero.html">
    <div template="hero">
        <div class="hero fi">
            <div class="box red" ui-sref="article({id:id(), slug:getContent().slug})">
                <div class="hero-image" ng-style="" style="background-image: url('{{getContent().featured_image.source}}');height:{{getHeight()}}px">
                    <div class="tag" ng-bind-html="$root.html(getContent().terms.category[0].name)"></div>
                </div>

                <!--<div class="tag" ng-if="!getContent().featured_image.source" ng-bind-html="$root.html(getContent().terms.category[0].name)"></div>-->
                <h2 ng-bind-html="$root.html(getContent().title)"></h2>
                <p ng-bind-html="$root.html(getContent().acf.summary)" ng-show="getContent().acf.summary"></p>
                <p ng-bind-html="$root.html(getContent().excerpt)" ng-show="!getContent().acf.summary"></p>

            </div>
        </div>

    </div>
</script>