<script type="text/ng-template" id="author-preview.html">
    <div class="author-preview" ng-class="{small:author.small}">
        <div class="box" ui-sref="author({author_id:author.getAuthor().id, 'authorSlug':author.getAuthor().slug})" style="cursor: pointer">
            <flex-item>
                <flex-item row="true">
                    <div class="author-img" ng-show="!author.getAuthor().acf.profile_pic.url" style="background-image: url('{{author.getAuthor().avatar_urls['96']}}')"></div>
                    <div class="author-img" ng-show="author.getAuthor().acf.profile_pic.url" style="background-image: url('{{author.getAuthor().acf.profile_pic.url}}')"></div>
                    <div>
                        <div class="author-name">
                            <h2>{{author.getAuthor().name}}</h2>

                        </div>
                    </div>

                </flex-item>

                <div style="margin-top: 15px; display: block" class="author-desc" ng-show="author.getAuthor().description">{{author.getAuthor().description}}</div>

            </flex-item>
        </div>

        <div ng-if="!author.small">
            <h3 ui-sref="author({'author_id':author.getAuthor().id, 'authorSlug':author.getAuthor().slug})"
                style="cursor: pointer"
            >More from {{author.getAuthor().name}}</h3>
            <div style="height: 10px"></div>
            <group-item
                    heading=""
                    ng-if="author.getArticles().length"
                    ids="author.getArticles()"
            ></group-item>
        </div>

    </div>
</script>