<script type="text/ng-template" id="author-preview.html">
    <div class="author-preview">
        <a class="box">
            <flex-item row="true">
                <div class="author-img" style="background-image: url('{{author.getAuthor().avatar_urls['96']}})"></div>
                <div>
                    <div class="author-name">
                        <h2>{{author.getAuthor().name}}</h2>

                    </div>
                </div>

            </flex-item>

        </a>
    </div>
</script>