alert-item {
  position: relative;
  z-index: 5000;
  display: block;
  .alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 0;
    z-index: 0;

    opacity: 0;
    visibility: hidden;
    transition: .5s;
    border-radius: 0;

    .alert-box {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      position: relative;

      //height: 300px;
      width: 300px;
      //background: white;
      //box-shadow: 0 0 5px rgba(0,0,0,0.1);
      border-radius: 3px;
      flex-direction: column;
      //overflow: hidden;
      cursor: pointer;
      text-align: center;
      background: white;


      transform: translateY(-50px);
      transition: .5s;

      .box-icon {
        height: 60px;
        width: 60px;
        border:3px solid white;
        line-height: 54px;
        background: $primary;
        color: white;
        margin-top: -30px;
        border-radius: 100%;
        font-size: 30px;
      }

      .box-header {
        display: block;
        flex: 0 0 40px;
        color: $primary;
        padding: 0 15px;
        line-height: 40px;
        height: 40px;
        border-radius: 3px 3px 0 0;
        font-weight: 100;
        font-size: 30px;
      }

      .box-content {
        flex: 1;
        width: calc(100% - 60px);
        //margin: 0 30px;
        padding: 0px 0 30px;
        border-radius: 0 0 3px 3px;
        color: $body;
        margin: 15px 0 -15px;
      }

      .butn {
        //background: $primary;
        //border-color: darken($primary,10%);
        margin: 25px 0 0px;
        width: 100%;
      }
    }

    &.active {
      opacity: 1;
      visibility: visible;
      z-index: 6000;

      .alert-box {
        transform: translateY(0);
      }
    }
  }
}