[template=latest-preview] {
  .latest-preview {
    margin-bottom: 20px;
    border-bottom:1px solid #eee;
    padding-bottom: 20px;

    h3 {
      padding: 0;
      margin: 0;
    }

    .preview-image {
      height: 80px;
      background-position: center;
      background-size: cover;
      //margin-bottom: 10px;
      position: relative;
    }

  }
}