<script type="text/ng-template" id="latest-preview.html">
    <div template="latest-preview">
        <div class="latest-preview">
            <div class="row">
                <div class="col-xs-4">
                    <div class="preview-image" style="background-image: url('https://unsplash.it/500/500/?random&{{getRandom()}}')"></div>
                </div>
                <div class="col-xs-8">
                    <div>
                        <div class="tag">Politics</div>
                        <h3>Subversive Cinema: Showcasing Political Activism and Savage Complicity</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>