<script type="text/ng-template" id="foot.html">
    <div template="foot">
        <div class="foot-top">
            <div class="container">
                <p>
                    {{$root.getCustomData().longStrapline}}
                </p>
            </div>
        </div>

        <div class="foot">
            <div class="container">

                <div class="row">
                    <div class="col-sm-4">
                        <h2>Writers</h2>
                        <p><a ng-href="/page/writers-guidelines">Writer's Guidelines</a></p>
                        <p><a ng-href="/page/user-guidelines">User Guidelines</a></p>
                        <p><a ng-href="/page/join">Join</a></p>
                    </div>
                    <div class="col-sm-4">
                        <h2>The Platform</h2>
                        <p><a ng-href="/about">About</a></p>
                    </div>
                    <div class="col-sm-4">
                        <h2>Get In Touch</h2>
                        <p>Subscribe</p>
                        <p>Contact Us</p>
                    </div>
                </div>

                <div class="foot-bottom">

                    Copyright &copy; 2015 The Platform. All rights reserved.
                    <div class="social pull-right">
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-envelope"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
</script>